<div class="bg-primary text-white m-2 p-2">
    There are {{model.getProducts().length}} products in the repository.
</div>

<div [class]="getClasses(1)">
    katalogdaki ilk ürün {{model.getProductById(1).name}}
</div>

<div [class]="getClasses(2)">
    katalogdaki ikinci ürün {{model.getProductById(2).name}}
</div>

<button class="btn btn-primary m-2 p-2" [class.disabled]="disabled">Submit</button>

<div class="m-2 p-2" [ngClass]="getClassMap(1)">
    katalogdaki <span [style.color]="color">ilk ürün</span>  {{model.getProductById(1).name}}
</div>

<div class="m-2 p-2" [ngClass]="getClassMap(2)">
    katalogdaki <span [ngStyle]="getStyles(2)">ikinci ürün</span> {{model.getProductById(2).name}}
</div>

<div (click)="onDivClicked()" style="width: 500px; height: 500px; background-color:red;">
    <button name="btn1" (click)="onSubmit($event)">btn1</button>
    <button name="btn2" (click)="onSubmit($event)">btn2</button>
</div>
